.a{
    height: 100vh;
    display: flex;
    align-items: center;

}
.a-left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.a-right{
    flex:1
}
.a-card.bg{
    position: absolute;
    top:65px;
    left:65px;
    background-color:#333
}
.a-card{
    width: 60%;
    height:70vh;
    border-radius:30px;
    position: relative;
    overflow: hidden;
}
.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.a-animation-img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
}
.a-tittle{
    font-weight: 400;
}
.a-sub{
    margin:20px 0px
}
.a-desc{
    font-weight: 300;
}
.animation{    
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.a-animation-text{
    width: 70%;
}
.a-animation-tittle{
    font-weight: bold;
    color: #555;
    margin-bottom:10px;
}
.animation-file{
    height: 120px;
    width: 120px;
}

@media screen and (max-width:480px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .a-left{
        width: 100%;
    }
    .a-card{
        margin-top: 125px;
        height: 30vh;
    }
    .a-card.bg{
        display: none;
    }
    .a-right{
        padding: 20px;

    }
    .animation{
        margin: 30px 0;
    }
}